In [46]:
import pandas as pd
import numpy as np
import joblib
import sklearn.metrics as metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [47]:
# memuat Data
data = pd.read_csv('dataset/datasetmodel_2.csv')
data.head()

   Keparahan_Numerik  Jumlah_Laporan  Skor_Urgensi
0                  2              14            75
1                  2              11            67
2                  1               3            27
3                  2              22            95
4                  2              14            75

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Keparahan_Numerik  97 non-null     int64
 1   Jumlah_Laporan     97 non-null     int64
 2   Skor_Urgensi       97 non-null     int64
dtypes: int64(3)
memory usage: 2.4 KB

In [49]:
data.describe()

       Keparahan_Numerik  Jumlah_Laporan  Skor_Urgensi
count          97.000000       97.000000     97.000000
mean            1.463918       15.226804     66.649485
std             0.501287        8.157953     21.891323
min             1.000000        1.000000     22.000000
25%             1.000000       10.000000     50.000000
50%             1.000000       15.000000     67.000000
75%             2.000000       23.000000     82.000000
max             2.000000       30.000000    100.000000

In [50]:
# latih 
X = data[['Keparahan_Numerik', 'Jumlah_Laporan']]
y = data['Skor_Urgensi']

urgency_model = LinearRegression()
urgency_model.fit(X, y)

# Split data(80% latih, 20% uji)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Koefisien Model:", urgency_model.coef_)
print("Intercept Model:", urgency_model.intercept_)

Koefisien Model: [19.06621584  2.41898301]
Intercept Model: 1.9047365607193854

In [51]:
# Prediksi pada data uji
y_pred = urgency_model.predict(X_test)

In [52]:
# Menyimpan Model
joblib.dump(urgency_model, 'model2.joblib')

print("Done")

Done

In [53]:
# Uji pada data baru
input_manual = pd.DataFrame([[2, 12]], columns=['Keparahan_Numerik', 'Jumlah_Laporan'])

# Prediksi
prediksi = urgency_model.predict(input_manual)

print(prediksi)

[69.06496435]

In [54]:
# Evaluasi model
r2 = metrics.r2_score(y_test, y_pred)
mae = metrics.mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

print("\nEvaluasi Model:")
print("R2 Score:", r2)
print("MAE (Mean Absolute Error):", mae)
print("RMSE (Root Mean Squared Error):", rmse)

Evaluasi Model:
R2 Score: 0.9935011885766298
MAE (Mean Absolute Error): 1.2172558067100456
RMSE (Root Mean Squared Error): 1.903522015126563